    {% extends 'base.html' %}

    {% block content %}
    {{block.super}}

    <div class="container">
        <!-- Looping through the images-->
        {% for image_item in images %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 container-fluid" style="display: flex;
           flex-wrap: wrap;" >
                <h3 style="font-size: 15px" class="text-center hd">{{ image_item.title }}</h3>

                <h4 style="font-style: italic; font-size: 13px;" class="text-left hb">{{ image_item.descritption}}</h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                       <img src="{{image_item.image.url}}" class="img-responsive img-fluid"
                       data-target="{{image_item.id}}">
            </div>
            
            <div class="col-md-2">
                           <button class="btn btn-sm" onclick="copyToClipboard('{{image_item.url}}')">Full story</button>
                       </div>

            {% empty %}
            <div class="row">
                <h5 class="text-center"> No new Art, please check in tommorrow. Meanwhile, past, work</h5>
            </div>
            
            
            {% endfor %}
 </div>
</div>
{% endblock %}

